
.input_upload {
    display: flex;
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    font-size: 16px;
    margin-bottom: 20px;
}

.input_upload .browse_btn {
    padding: 8px 16px;
    background-color: silver;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.input_upload .browse_btn:hover {
    background-color: #e0e0e0;
}

.input_upload .file_name {
    padding: 8px 12px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 200px;
    display: flex;
    align-items: center;
}

.input_upload .modelo_btn {
    padding: 9px 20px;
    background-color: silver;
    border: none;
    border-right: 2px solid #ccc;
    cursor: pointer;
    font-weight: normal;
    color: #333;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.input_upload .modelo_btn:hover {
    background-color: #e0e0e0;
}

.input_upload .upload_btn {
    padding: 9px 20px;
    background-color: tomato;
    border: none;
    cursor: pointer;
    font-weight: normal;
    color: #333;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.input_upload .upload_btn:hover {
    background-color: #e0e0e0;
}