### Arquivos e diretórios gerados / build ###
target/
build/
dist/
dist-ssr/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

### Node / Frontend ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

### Arquivos temporários / backups ###
*.bkp
*.local
HELP.md
private/

### Editor directories and files / IDEs ###
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings
.factorypath
.apt_generated
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/.nb-gradle/

### Vite / build cache ###
.vite

# Outros
!.mvn/wrapper/maven-wrapper.jar

