.acoesEscala {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 20px;
}

.acoesEscala button {
    padding: 8px 20px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.acoesEscala button:hover {
    background-color: rgba(255, 99, 71, 0.625);
}