.main {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 40px;
    overflow-x: auto;
}

.main h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.upload {
    margin-bottom: 20px;
}

.upload .label_upload {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}