.CadastroServico {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.CadastroServico label {
    font-weight: bold;
    margin-bottom: -10px;
}

.CadastroServico input,
.CadastroServico select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}