.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.table th, td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}