.container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}